@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

body{
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Raleway', sans-serif;*/
}

.nav-hero{
  background-image: url("../img/taxi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}


nav{
  background-color: rgb(255, 255, 255);
}

.bg-yellow{
  background-color: rgb(247, 182, 23);
}
