@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

body{
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Raleway', sans-serif;*/
}

#nav-hero{
  background-image: url("../img/taxi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}


nav{
  background-color: rgb(255, 255, 255);
}

.bg-yellow{
  background-color: rgb(247, 182, 23);
}

.border-info{
  border: 2px solid rgb(255, 255, 255);
  margin: 50px 20px 50px -5px;
}


#conduce{
  background-image: url("../img/conduce.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.bg-black{
  background-color: rgba(59, 56, 62, 0.45);
}

#mapa{
  width: 500px;
  height: 500px;
  border: 2px solid rgb(255, 255, 255);
  margin: 50px 0;
}

#footer{
  background-color: rgb(52, 57, 54);
  height: 80vh;
  color: rgb(255, 255, 255);
}

.margin{
  margin: 50px;
}
